.footer{
    margin: auto;
    width: 100%;
    background-color: var(--Secondary);
    padding: 2rem 2rem;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}
.FooterGride {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
   
}

@media (max-width: 992px) {
    .FooterGride {
        grid-template-columns: repeat(2, 1fr);
    }
  
}

@media (max-width: 768px) {
    .FooterGride {
        grid-template-columns: repeat(1, 2fr);
     
    }
  
}

